
#banner{
height: 200px;
background-color: #FF1493;

}
section{
	margin: 0px;
}


#c{
	
	float: left;
	margin-top: -80px;
	margin-left: 50px;
}
#info{
	background-color: #FF1493;
	margin-left: 190px;
	margin-right: 15px;
	margin-top: 15px;
	padding: 15px;
	border-radius: 8px;
	font-family: "Arial";
}
#social{
	margin: 200px;
	margin-bottom: 60px;
	margin-top: 10px;
}